alembic==1.14.0
annotated-types==0.7.0
anyio==4.7.0
black==24.10.0
cffi==1.17.1
click==8.1.7
cryptography==44.0.0
fastapi==0.109.2
pydantic[email]>=2.5.3,<3.0.0
pydantic-settings==2.1.0
psycopg2-binary==2.9.9
python-jose==3.3.0
python-multipart==0.0.19
SQLAlchemy==2.0.36
starlette>=0.35.1,<0.37.0
uvicorn[standard]==0.27.1
python-dotenv==1.0.1